@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Regular';
	src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: 'Condensed';
	src: url('/fonts/SuisseIntlCond-Semibold.woff2') format('woff2');
	font-weight: 400;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: 'Mono';
	src: url('/fonts/SuisseIntlMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: block;
	font-style: normal;
}

@font-face {
	font-family: 'Works';
	src: url('/fonts/SuisseWorks-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: block;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: 'Regular';
}

::root {
	--background-color: #111;
}

body {
	background: var(--background-color);
	font-size: 18px;
	cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABvSURBVHgBjdC7DcAgDARQTMUIlIzACB6dETwCJSOkI3eK00XBlk6AeOJjSV5774ZBkYoUZCImIsZ9caSOvmoAjwzUfxBLeVvGpKdzKWELwEp4BWAhXAE4CUcAWsbX5wGzPSbvytvEtPS8ezniQekGn8QhEkDKxqwAAAAASUVORK5CYII=),
		auto;
}

h1,
h2,
h3,
.bold-font {
	font-family: 'Bold';
	font-weight: normal;
}

.font-cond {
	font-family: 'Condensed';
}

.font-mono {
	font-family: 'Mono';
}

.font-works {
	font-family: 'Works';
}

.x-transparent {
	opacity: 0.5;
}

.x-blurred-bg {
	/* background-color: rgb(255 255 255 / 3.33%); */
	backdrop-filter: blur(calc(25 * 1px));
}

p {
	font-size: 1.3em;
	line-height: 1.5;
	/* margin-bottom: 1em; */
}

p + p {
	margin-top: 1em;
}
